###### Requirements without Version Specifiers ######
openpyxl
xlsxwriter
Click

###### Requirements with Version Specifiers ######
atlassian-python-api >= 3.5.0
pypandoc >= 1.5
xmltodict >= 0.12.0
jira >= 2.0.0
